*, *::before, *::after {
    box-sizing: border-box;
  }
:root {
    --bg: #FFF;
    --primary: #0AE153;
    --secondary: #222;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg);
}

/* Helpers */
.container {
    max-width: 60rem;
    margin: 0 auto;
    padding: 0;
}
.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.skiplink {
    position: absolute;
    z-index: 1;
    left: -1000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    color: var(--primary);
}
.skiplink:focus {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
/* Navbar */
header {
    display: grid;
    align-items: center;
    height: 4rem;
    box-shadow: 0px 4px 6px -3px #222;
}
header .logo {
    grid-column: span 2;
    width: 5rem;
}
header nav {
    grid-column: 4 / span 9;
    display: grid;
    justify-content: end;
}
header nav ul {
    display: none;
    position: absolute;
    top: 4rem;
    left: 0;
    width: 100%;
    text-align: center;
    list-style-type: none;
    padding: 1rem 0;
}
header nav ul a {
    color: var(--secondary);
    text-decoration: none;
    font-weight: 600;
}
.hamburger {
    border: none;
    background-color: var(--bg);
    font-weight: 700;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.hamburger .icon span {
    display: block;
    width: 1.875rem;
    height: 0.25rem;
    background-color: var(--secondary);
    margin: 0.3125rem 0;
    transition: transform 0.4s ease;
  }
  
.hamburger[aria-expanded=true] .icon span:nth-child(1) {
    transform: translateY(0.5rem) rotate(45deg);
  }
  
.hamburger[aria-expanded=true] .icon span:nth-child(2) {
    opacity: 0;
}  
.hamburger[aria-expanded=true] .icon span:nth-child(3) {
    transform: translateY(-0.5625rem) rotate(-45deg);
}
.hidden {
    display: none;
}
.visible {
    display: grid;
    backdrop-filter: blur(10px);
    box-shadow: 0px 4px 6px -3px #222; 
}

/*hero*/
.hero{
    grid-column: span 12;
}
.hero h1{
    grid-column: span 12;
    text-align: center;
}
.hero p{
    grid-column: 2/ span 10;
    text-align: center;
    justify-self: center;
    max-width: 30rem;
}
.hero a{
    text-align: center;
    color: var(--primary);
    grid-column: span 12;
    justify-self: center;
    border: 2px solid var(--primary);
    border-radius: 2rem;
    padding: 1rem 2rem;
    box-shadow: 0px 1px 1px var(--primary);
    margin-bottom: 2rem;
}
.hero ul{
    display: none;
}
/*pricing*/
.pricing{
    grid-column: span 12;
    row-gap: 2rem;
}
.pricing h2, .pricing p:last-of-type{
    margin: 0;
}
.pricing h2, .pricing p, .pricing a{
    grid-column: span 12;
    text-align: center;
    justify-self: center;
}
.pricing .voordelen{
    grid-column: span 12;
    padding: 0;
    justify-self: center;
}
.pricing .voordelen li{
    grid-column: 3 / span 8;
    font-size: 1.2rem;
}
.pricing .voordelen li::marker{
    color: var(--primary);
}
.pricing .card{
    grid-column: 2 / span 10;
    border-radius: 10px;
    max-width: 340px;
    justify-self: center;
    border: 2px solid var(--primary);
    box-shadow: 1px 1px 3px var(--secondary);
}
.pricing .card p:first-child{
    grid-column: span 12;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}
.pricing .card h3, .pricing .card p{
    grid-column: span 12;
    padding: 0 10px;
}
.pricing .card ul{
    grid-column: span 12;
}
.pricing .card ul li::marker{
    color: var(--primary);
}
.pricing .card a{
    text-align: center;
    color: var(--secondary);
    background-color: var(--primary);
    grid-column: 2 / span 10;
    justify-self: center;
    border: 2px solid var(--primary);
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    margin: 1.5rem;
    box-shadow: 0px 1px 1px var(--primary);
    text-decoration: none;
}
.pricing a{
    color: var(--primary);
}
.arrow {
    border: solid var(--primary);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
  }
  /*new content*/
  .new_content{
    grid-column: span 12;
  }
  .new_content h2{
    grid-column: span 12;
    text-align: center;
  }
  .new_content .card{
    grid-column: 2 / span 10;
    border-radius: 10px;
    max-width: 340px;
    justify-self: center;
    border: 2px solid var(--primary);
    box-shadow: 1px 1px 3px var(--secondary);
  }
  .new_content .card img{
    grid-column: 2 / span 10;
    width: 100%;
    margin-top: 20px;
    justify-self: center;
  }
  .new_content .card p, .new_content .card h3{
    grid-column: 2 / span 10;
    margin: 0;
}
@media (min-width: 50em){
    header .logo {
        grid-column: 4 / 5;
        max-width: 60rem;
    }
    header nav {
        grid-column:  5  / 10;
        justify-content: end;
    }
}